.App table{
  width: 500px;
  margin: 0 auto;
}

.App{
  text-align: center;
}
.App button{
  margin-top: 20px;
  padding: 10px;
  border-radius: 55px;
  color: green;
}
.App button:hover{
  background-color: darkcyan;
  color: darkgoldenrod;
}